# Application
APP_NAME=distributed-job-queue
APP_PORT=8081

# PostgreSQL
POSTGRES_DB=jobqueue
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092